<div class="container-lg" style="margin-top:3%">
  <h1>Menu Warung Pak Gagah</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">    
          <button type="button" class="btn btn-dark" data-toggle="modal" 
            data-target="#exampleModal">Tutorial</button>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @foods.each_with_index do |food, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><a href="/food/<%= food.id %>">Show</a></td>
        <td>
          <form action="/food/<%= food.id %>/edit" method="get">
            <input class="btn btn-primary" type="submit" value="Edit" >
          </form>
        </td>
        <td>
          <form action="food/<%= food.id %>/delete" method="post">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <form action="/food/new" method="get">
    <input class="btn btn-success" type="submit" value="Tambahkan menu">
  </form>
  <form class="mt-2" action="/" method="get">
    <input class="btn btn-danger" type="submit" value="Back">
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cara menggunakan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Di halaman ini, Bapak / Ibu bisa menambahkan menu warung. <br>
        Setiap makanan, harus ada satu kategori. 
        Jadi, jika Bapak/Ibu tidak memasukkan, akan keluar error! Hati-hati, ya!
        Oh iya, sama seperti halaman lain. Pastikan nama menunya unik ya! ;)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })  
</script>